* {
    padding: 0;
    margin: 0;
}

body {
    background-color: whitesmoke;
    background-size: cover;
}

.heading-box {
    background-color: rgb(29, 134, 148);
    height: 125px;
    width: 100%;
    
}

.name-heading {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 35px;
    color: white;
    padding-top: 35px;
    letter-spacing: 4px;
    padding-left: 10px;
    font-size: 40px;
}

.heading-box, h4 {
    color: rgb(151, 177, 179);
    font-size: 18px;
    font-family: cursive;
    padding-left: 12px;
}

.contact-box {
    width: 100%;
    background-color: rgb(183, 216, 213);
    justify-content: end;
    height: 60px;
}

.info-links {
    list-style: none;
    display: flex;
    justify-content: center;
    list-style: none;
    padding-top: 20px;
}

a:link, .email-text {
    color: blue;
}

.first-list {
    margin-right: 15px;
}

.last-list {

}


